@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Pacifico");

*{
	margin: 0px;
	padding: 0px;
	font-family:'Roboto';
}

.logo{
	width:15vw;
	position: absolute;
	top:10px;
	left: 10px;
}

header{
	
	background-image: linear-gradient(rgba(50,50,50,0.5), rgba(0,0,0,0.5)),url("background-3.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	color: white;
	z-index: 2;
}

.navMenu{
	float: right;
	list-style: none;
	margin-left: 40vw;
	position: absolute;
	z-index: 9999;
	width:60vw;
}

.navMenu li{
	display: inline-block;
	margin: 15px;
	width: 102px;
	height:22px;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1vh;
	padding-bottom: .8vh;
	font-size: 17px;
}

#h3d{
	font-size: 6vw;
	font-weight: 700;
}

a{
	text-decoration: none;
	color: #E5E5E5;
	/*z-index: 1;*/
}

#active, .navMenu li:hover{
	border: 1px solid #fff;
	color:#FFFFFF;
	width:100px;
	height: 20px;
}

.tagline{
	position: absolute;
	margin-top: 37vh;
	margin-left: 75vw;
	z-index: 3;
}

#tag{
	font-weight: bold;
	font-size: 5vw;
	text-align: right;
	
}

.cont{
	position: absolute;
	margin-left: 8vw;
	margin-top: 3vh;
	z-index: 4;
}

.bttn{
	border: 2px solid white;
	padding: 1vh;
	font-size: 22px;
	color: #C9C9C9;
}

.bttn:hover{
	background: rgba(207,207,207,.2);
}